body{
    margin:0;
   
} 
.wrapper{
    
    /* background-color: rgb(139, 139, 187); */
    background-color: rgba(63, 63, 77, 0.897);
    height: 100vh;
    width:100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(59, 56, 56);
  
}

.main{
    height: 170px;
    width: 170px;
    background-color: rgb(5, 5, 5);
    
}
.effect{
    height:350px;
    width:350px;
    /* background-color:rgb(54, 132, 134); */
    background-color:rgb(41, 34, 61);
    border-radius: 50%;
    box-shadow: 0 0 15px 15px rgb(245, 241, 241) ;
}
.q{
    position: absolute;
    top: 240px;
    border-radius: 50%;
    /* border: 2px solid rgb(80, 204, 80); */
    left:50%;
    right: 50%;
    transform: translate(-50%,-50%);
}
.left1{
    height: 75px;
    width: 70px;
    background-color: rgb(8, 8, 8);
    transform: translate(-110px,-120px);
    border-radius: 60% 50%;
    
}.right1{
    height: 75px;
    width: 70px;
    transform: translate(35px,-121px);
    background-color: black;
    border-radius: 50% 65%;
}
.z{
    background-color: peachpuff;
    height: 120px;
    width: 80px;
}
.left{
    transform: translate(-65px,-78px) rotate(5deg);
}
.right{
    transform: translate(-18.5px,-80px) rotate(-12deg);
}
.lef{
    transform: translate(-65px,-10px) rotate(-70deg);
    background-color: peachpuff;
    border-top-right-radius: 10vh;
}
.rig{
    transform: translate(-10px,-10px) rotate(70deg);
    background-color: peachpuff;
    border-top-right-radius: 10vh;
}
.dcir{
    top:325px;
    height:30px;
    width:40px;
    
    left:263px;
}
.u{
    position: absolute;
    top: 240px;
    border-radius: 50%;
    /* border: 2px solid rgb(80, 204, 80); */
    left:50%;
    right: 50%;
    transform: translate(-50%,-50%);
}
.inside{
    background-color: rgb(250, 248, 248);
    border: 2px solid rgb(8, 8, 8);
    position: absolute ;
    
    
}
.eye1{
    height:60px;
    width:25px;
    border-radius: 50%;
    right:35px;
    bottom: 20px;;
    position: relative;
    overflow: hidden;
}
.eye1ball{
    position: absolute;
    height:30px;
    width:20px;
    bottom:20px;
    left:-29px;
    background-color: black;
    border-radius: 50%;
    transform: rotate(10deg);
}
.eye2{
    height:60px;
    width:25px;
    bottom: 20px;
    left:5px;
    border-radius: 50%;
}
.eye2ball{
    position: absolute;
    height:30px;
    width:20px;
    bottom:20px;
    right:-28px;
    background-color: black;
    border-radius: 50%;
    transform: rotate(-15deg);
}
.eyedown{
    width:65px;
    height:51px;
    border: solid 2px #000;
    border-color: #000 transparent transparent transparent;
    border-radius:50%/100px 100px 0 0;
    left:-34px;
    border-radius: 50%;
    position: absolute;
    bottom:-31.5px;
    
}
.nose{
    position: absolute;
    height:30px;
    width:50px;
    border-radius: 50%;
    right:-25px;
    top:45px;
    background-color: #000;
}
.down1{
    width:140px;
    height:100px;
    position: absolute;
    border: 2px solid black;
    border-color:transparent transparent #000 transparent;
    top:-10px;
    right:-70px;
    border-radius:50%;
}
.down2{
    width:70px;
    height:100px;
    position: absolute;
    border: 2px solid black;
    border-color:transparent transparent #000 transparent;
    top:29px;
    right:-35px;
    border-radius:99%;

}

.dright{
    width: 20px;
    height:50px;
    position: absolute;
    border:2px solid black;
    border-color: rgb(10, 10, 10) transparent transparent transparent;
    left:23px;
    right:-45.5px;
    bottom:-51px;
    border-radius:45%;
    transform: rotate(55deg);
    

}
.dleft{
    width: 20px;
    height:50px;
    position: absolute;
    border:2px solid black;
    border-color: black transparent transparent transparent;
    top:62px;
    right:26px;
    border-radius:45%;
    transform: rotate(-55deg);

}
.down3{
    width:80px;
    height:100px;
    position: absolute;
    border: 2px solid black;
    border-color:transparent transparent #000 transparent;
    top:20px;
    right:-51.1px;
    border-radius:30% 0;
    transform: translate(-20px,0px);
    transform: rotate(50deg);
}
.down4{
    width:80px;
    height:100px;
    position: absolute;
    border: 2px solid black;
    border-color:transparent transparent #000 transparent;
    top:20px;
    right:-30px;
    border-radius:0 30%;
    transform: translate(-20px,0px);
    transform: rotate(-50deg);
    
}
.mouth{
    /* height:90px;
    width:50px;
    position: absolute;
    background-color:rgb(63, 60, 58);
    right:-20px;
    border-top-left-radius: 90px;
    border-bottom-right-radius: 90px;
    border-bottom-left-radius: 90px;
    transform: rotate(99deg);
    overflow: hidden; */
    width:40px;
    height:27px;
    position: absolute;
    border: 2px solid black;
    background-color: rgb(8, 8, 8) ;
    bottom:-60px;
    right:-21px;
    border-radius:90px;
    transform: translate(-20px,0px);
    transform: rotate(0deg);
}
.ltri{
    height:0px;
    width:0px;
    border: 10px solid transparent;
    border-top: 0;
    border-bottom: 50px solid black;
    position: absolute;
    left:120px;
    transform: rotate(-51deg);
    top:71px;
    left:-41px;
}
.rtri{
    height:0px;
    width:0px;
    border: 10px solid transparent;
    border-top: 0;
    border-bottom: 50px solid rgb(7, 7, 7);
    position: absolute;
    left:120px;
    transform: rotate(51deg);
    top:68px;
    left:21px;
}
.rrtri{
    height:0px;
    width:0px;
    border: 5px solid transparent;
    border-top: 0;
    border-bottom: 25px solid rgb(7, 7, 7);
    position: absolute;
    left:190px;
    transform: rotate(69deg);
    top:80px;
    left:16px;
}
.lltri{
    height:0px;
    width:0px;
    border: 5px solid transparent;
    border-top: 0;
    border-bottom: 25px solid rgb(10, 10, 10);
    position: absolute;
    left:190px;
    transform: rotate(-69deg);
    top:80px;
    left:-29.5px;
}
.cir{
    height:20px;
    width:20px;
    background-color: black;
    border-radius: 50%;
    position: fixed;
    top:107px;
    right:-9px;
}
.tongue1{
    height:19px;
    width: 30px;
    position: absolute;
    background-color: red;
    /* border-bottom-left-radius: 20px; */
    border-bottom-right-radius: 77px;
    border-top-left-radius: 90px;
    border-top-right-radius: 0px;
    /* transform: rotate(50.8deg); */
    /* right:-4.9px; */
    /* top:103.5px; */
    transform: rotate(50.1deg);
    right:-7.1px;
    top:105px;
    border-color: 2px solid black;
}
.tongue2{
    height:15px;
    width: 23px;
    position: absolute;
    background-color: red;
    /* border-bottom-left-radius: 20px; */
    border-bottom-right-radius: 80px;
    border-top-left-radius: 90px;
    border-top-right-radius: 0px;
    transform: rotate(39deg);
    right:-16px;
    top:107px;
}
.dr{
    width: 30px;
    height:20px;
    position: absolute;
    border:2px solid black;
    border-color: rgb(10, 10, 10) transparent transparent transparent;
    left:-28px;
    right:-45.5px;
    bottom:-64px;
    border-radius:45%;
    transform: rotate(19deg);
}
.hai{
    
    color: rgb(250, 248, 249);
    line-height: 20px;
    top:320px;
    left:410px;
    position: absolute;
    font-family: 'cursive','lucida handwriting';
    transform: rotate(-20deg);
    
}
.time{
    line-height: 10px;
    font-size: 8px;;
    color:white;
    position: absolute;
    font-family: "Times New Roman", Times, serif;
    top:20px;
    right:10px;
}
/* *{
    outline: 2px solid red;
} */
